// PRIMEVUE
.p-highlight {
    background: #ffd166;
    border-color: #fdfdec;
    color: #29335C;
}
.p-menuitem-content[data-pc-section=content] {
    &:hover {
        background-color: transparent;
        i {
            color: #ecaa0f;
        }
    }
    i {
        transition: all .2s;
    }
}
